body {
    background-color: rgb(242, 190, 234);
}
header {
    background-color: rgb(123, 156, 72);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-style: italic;
    font-size: 22px;
    border-radius: 25px;
    text-align: center;
    margin: 50px;
    border-style: dotted;
    border-color: green;
    border-width: 10px;
}


h2 {
    color: rgb(203,96,21);
    text-align: right;
}


.chonk {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    background-color: rgb(251, 177, 73);
    padding: 20px;
    border-radius: 25px;
    border-width: 5px;
    margin-bottom: 10px
}

#my-intro {
    color: aliceblue;
    padding: 20px;
    border: 30px;
}